.App {
  display: grid;
  grid-template-columns: 2fr 1fr ;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 'nav narrator' 'nav narrator' 'main main';
  min-height: 100vh;
}

.App > * {
  padding: 20px;
}

.App * {
  box-sizing: border-box;
}

.App > nav {
  grid-area: nav;
  background-color: coral;
}

.App > main {
  grid-area: main;
  background-color: beige;

}

.App > .router-data {
  grid-area: narrator;
  background-color: black;
  color: white;
}

.App form label {
  display: block;
}

.App form legend {
  font-size: 22px;
  font-weight: bold;
}
